body {
      font-family: 'Arial', sans-serif;
      text-align: center;
      padding: 2rem;
      transition: background 0.5s;
      color: #fff;
    }

input, button, select {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
}

#weather {
    margin-top: 2rem;
}

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 1rem auto;
}